<div class="container">
	<div class="panel panel-default ">
		<div class="alert alert-info">
			<span class="lead">Lista de clientes </span>
		</div>
		<div class="panel-body ">
			<div class="table-responsive">
				<table class="table table-hover table-bordered ">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>edad</th>
							<th width="100">Edit</th>
							<th width="100">Delete</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="cliente in clientes">
							<td>{{cliente.nombre}}</td>
							<td>{{cliente.apellidos}}</td>
							<td>{{cliente.edad}}</td>
							<td>{{cliente.genero}}</td>
							<td>{{cliente.direccion}}</td>

							<td>
								<button type="button" class="btn btn-primary custom-width">
									<span class="glyphicon glyphicon-edit"></span> Edit
								</button>
							</td>
							
							<td>
							   <button type="button" ng-click="deleteCliente(cliente.id)" 
							   class="btn btn-danger custom-width">
							      <span class="glyphicon glyphicon-remove"></span> Delete
							   </button>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>